/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
/.dompdf.zip
.Final-dom-cash.zip
.final-pdf-dom.zip
.flinktech-change-dom.zip
.flinktech-third-partypdf.zip
.flinktech-live.zip
.flinktech.zip
.laravel-starter.zip